.container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 20px;
    background-color: #47ba5761;
    border-radius: 20px;
    padding: 50px;
}
.players-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
}